* {
    padding: 0;
    margin: 0;
    /* text-transform: uppercase; */
    list-style: none;
    text-decoration: none;
    user-select: none;
   

}
html{
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar{
    display: none;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
}
#tab1,#tab2{
    font-size: 2em;
    /* font-family: 'Playpen Sans', cursive; */
}
header{
    /* position: fixed; */
    background: #1f1b37;
  color: white;
/* border-bottom: 1px solid rgb(129, 129, 129); */
}
.headerbtn{
    display: none;
    padding:0px 5px ;
    font-size: 1.4rem;
    /* padding: 4px 25px; */
    background-color: transparent;
    outline: none;
    border: none;
  color: white;
}
.hidebtn{
  /* color: white; */
    display: block;
}
.pages .page {
    display: none;

}

.pages .page.is-active {
    display: block;
    
}





.tabs {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 6fr 1fr 1fr;
    padding: 4px 100px;
    box-shadow: 0px 0px 1px rgb(0, 0, 0);

}



.tab {
    /* border: 2px solid black; */
  
    text-align-last: center;
    padding: 5px;
    font-family: sans-serif, sarif;
}

.tabs li a {
    display: block;
    padding: 2px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    /* color: rgb(0, 0, 0); */
     background: #1f1b37;
}

.tabs li:nth-child(1) a {

    justify-content: start;

}

.logodesign {
    /* color: rgb(255, 255, 255); */
    font-size: 40px;
    font-family: sans-serif, sarif;

}

.logodesign span {
    /* color: rgb(250, 250, 250); */
    border-radius: 3px;
    padding: 0px 4px;
}


@media screen and (max-width: 500px) {

    #headerbtn{
         display: block;         /*  added on 1|11|23 */
    }
   .logodesign{
    font-size: 1.9rem;
   }

    .tab:nth-child(n+2){
        display: none;
        /* background-color: white; */
        /* box-shadow: 1px 1px 2px rgb(130, 130, 130); */
        z-index: 11;
    }
    .tab:nth-child(2){
       
       
        position: absolute;
        top: 65px;
        right: 40px;
        width: 120px;
        height: 40px;
 
    }
    .tab:nth-child(3){
    
        position: absolute;
        top: 115px;
        right: 40px;
        width: 120px;
        height: 40px;
      
        

        
    }


.tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 25px;
}


  }
