footer {
    position: relative;
    color: #ffffff;
   background: #1f1b37;
   
    width: 100vw;
  height: 90px;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
}

footer>div{
  height: 40px;
    font-size: .9rem;
    font-family: sans-serif, sarif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}
footer>div>img{
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 20px;
  
}









/* .footer_text{
    z-index: 1;
    
}
.flootingElement{
    position: absolute;
    width: 10.1px;
  
    height: 40px;
    background: #d1dfff;
    animation: flooting 6s infinite linear;
    box-sizing: border-box;
z-index: 0;
filter: blur(100%);
  
}
@keyframes flooting {
    0% { left: -10px; }
    
    100% { left:100% }
} */